#nav{
    background-color: #2874f0;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
}
h1{
    color: white;
}
h2{
    color: white;
}
#nav>input{
    width: 500px;
    height: 35px;
    outline: none;
    border: none;
}
#nav>button{
    width: 150px;
    height: 30px;
    color: #2874f0;
    font-size: 15px;
    background-color: #ffffff;
    border: none;
    outline: none;
}
#main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
#main>div>img{
    width: 100%;
}